<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectui">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".addImag"
            android:theme="@android:style/Theme.Holo.Light.Dialog"></activity>
        <activity
            android:name=".DonorsMap"
            android:label="@string/title_activity_doners" />
        <activity android:name=".DonnersLists" />
        <activity
            android:name=".getLocation"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".Profile" />
        <activity android:name=".SignUpAccount"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBarWithTitle" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTitle" />
    </application>

</manifest>